.Avatar--circle { border-radius: 3px !important; }
.dropdown-toggle { border-radius: 4px !important; }
.Avatar { border-radius: 4px !important; }
.avatar { border-radius: 10% !important; }
.DashboardProfileCard-avatarLink { border-radius: 10% !important; }
.DashboardProfileCard-avatarImage { border-radius: 10% !important; }
.ProfileAvatar { border-radius: 10% !important; }
.ProfileAvatar-image { border-radius: 10% !important; }
.ProfileCard-avatarImage { border-radius: 10% !important; }
